p {
    color: blue;
}
#paragraph {
    background-color: red;
    font-weight: bold;
}
.paragraph {
    background-color: green;
}
.paragraph {
    background-color: yellow;
}
*{
    margin:0;
    padding:0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#main{
   width: 50%;
   background-color:red;
}

#content{
   width: 50%;
   background-color:green;
}